/* GENERAL CONTETNT
----------------------------------------------------------------------------------------------------*/
/* Background images and texture -*/

/*body {
	background-image:url(../images/001_wine.png),url(../images/002_background3.jpg); 
	background-repeat:repeat-x, repeat;
}
*/

.main_box{
    height: 350px;
    left: 50%;
    margin-left: -400px;
    position: absolute;
    top: 100px;
    width: 800px;
}


.background_img {
	background-image:url("../images/001_wine.png");
	background-repeat: no-repeat;
	background-size: 450px 350px;
    height: 350px;
    position: absolute;
    top: 70px;
    width: 330px;
}

.form {
	font-family: 'droid_serifregular';
	font-size:15px;
	color: #777777;
	position: absolute;
	left: 280px;
	top: 30px;
}


/* table */

.title1 {
	font-family: 'droid_serifbold';
	font-size:18px;
	color: #888888;
	text-align: right;
	width: 553px;
	line-height: 8px;
}

.title2 {
	font-family: 'droid_serifbold';
	font-size:18px;
	color: #888888;
	text-align: left;
	line-height: 8px;
}

td {
	color: #888888;
	text-align: center;
	padding: 3px;
}

td.right {
	text-align: right;
	width: 100px;
}

td.left {
	text-align: left;
	padding: 5px 10px;
}

input.search_but {
	left: 220px;
    margin-top: 10px;
	position: relative;
}

td.results_header {
	font-family: 'droid_serifbold';
	font-size:18px;
	color: #B68D41;
	text-align: left;
	width: 80px;
	text-align: center;
}

td.long_results_header {
	font-family: 'droid_serifbold';
	font-size:18px;
	color: #B68D41;
	text-align: left;
	width: 420px;
	text-align: center;
}

tr.row_alt {
	background-color: #E6E1D8;
}

td.row_alt {
	background-color: #E6E1D8;
	padding: 5px;
	font-size: 15px;
    text-align: center;
}

td.row_alt2 {
	padding: 5px;
	font-size: 15px;
}

td.error {
	text-align: left;
}

span#validation1, #validation2, #validation3, #validation4, #validation5, #validation6 {
	color: #99CCCC;
	line-height: 2px;
	text-align: left;
}

div.no_found {
	font-family: 'droid_serifbold';
	font-size:18px;
	color: #B68D41;
	text-align: left;
	width: 200px;
	padding-top: 20px;
}

/*tr.row_alt2 {
	background-color: #F7F0E4;
}*/

.buttons {
	font-family: 'droid_serifbold';
	font-size:18px;
	text-align: right;
	position: absolute;
	left: 187px;
}

.buttons2 {
	font-family: 'droid_serifbold';
	font-size:18px;
	text-align: right;
	position: absolute;
	left: 280px;
}

.buttons3 {
	font-family: 'droid_serifbold';
	font-size:18px;
	text-align: right;
	position: absolute;
	left: 380px;
}

.buttons4 {
	font-family: 'droid_serifbold';
	font-size:18px;
	text-align: right;
	position: absolute;
	left: 480px;
}
